@using Mayiboy.Model.Model

@{
    ViewBag.Title = "菜单管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";

    var sysnavbar = ViewBag.SystemNavbar as List<SystemNavbarModel>;
}
@section head_section{
    <link href="~/Content/lib/jqueryeasyui/themes/gray/easyui.css" rel="stylesheet" />
    <link href="~/Content/lib/jqueryeasyui/themes/icon.css" rel="stylesheet" />
    <script src="~/Content/lib/jqueryeasyui/jquery.easyui.min.js"></script>
}

@*面包屑*@
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
        <a lay-href="">主页</a><span lay-separator="">/</span>
        <a><cite>组件</cite></a><span lay-separator="">/</span>
        <a><cite>数据表格</cite></a><span lay-separator="">/</span>
        <a><cite>数据表格的重载</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    系统菜单
                </div>
                <div class="layui-card-body" style="margin: 0px; padding: 0px;">
                    <div class="layui-card" style="margin: 0px;">
                        <div class="layui-card-body" style="padding: 0px;">
                            <div class="layui-btn-container" style="float: left; padding: 5px;">
                                <div class="layui-btn-group">
                                    <label class="mayiboy-lable">系统栏目:</label>
                                    <select id="sysnavbar" class="mayiboy-input" style="width: 100px;">
                                        @foreach (var item in sysnavbar)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                @*<div class="layui-btn-group">
                                        <button id="btnquery" class="layui-btn">查询</button>
                                    </div>*@
                            </div>

                            <div class="layui-btn-container" style="padding: 5px; float: right;">
                                <div class="layui-btn-group">
                                    <button id="btnadd" class="layui-btn">新增</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="treetable" style="height: 600px; width: auto;" lay-filter="table-operate" data-url="@Url.Action("Query", "SysMenu", new {areas = "SystemManage"})" data-delurl="@Url.Action("Del", "SysMenu", new {areas = "SystemManage"})"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@*编辑系统菜单*@
<div id="editsysmenu" title="新增系统菜单" style="display: none;" data-url="@Url.Action("Save", "SysMenu", new {areas = "SystemManage"})">
    <form class="layui-form" style="padding: 20px;" data-url="@Url.Action("Save", "SysMenu", new {areas = "SystemManage"})">
        <input id="txtid" type="hidden" value="0"/>
        <div class="layui-form-item">
            <label class="layui-form-label">父级菜单：</label>
            <div class="layui-input-block" style="width: 200px;">
                <input id="selectsysmenu" class="easyui-combotree" data-options="" style="width: 300px; height: 30px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单名称：</label>
            <div class="layui-input-block">
                <input id="txtname" type="text" required lay-verify="required" placeholder="菜单名称" style="width: 300px;" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单地址：</label>
            <div class="layui-input-block">
                <input id="txturl" type="text" placeholder="菜单地址" style="width: 300px;" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单类型：</label>
            <div class="layui-input-block" style="width: 100px">
                <select id="selectmenutype" class="mayiboy-input" style="width: 60px;">
                    <option value="0">内部</option>
                    <option value="1">外部</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-block">
                <input id="txtsort" type="number" name="title" value="0" style="width: 100px;" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea id="txtremark" placeholder="请输入内容" class="layui-textarea" style="width: 300px; height: 30px; resize: none"></textarea>
            </div>
        </div>
    </form>
</div>

@*显示权限*@
<div id="showmenup" title="配置菜单权限" style="display: none">
    <div class="layui-card" style="margin: 0px;">
        <div class="layui-card-body" style="padding: 0px;">
            <div class="layui-btn-container" style="padding: 5px; float: right;">
                <div class="layui-btn-group">
                    <button id="btnaddp" class="layui-btn">新增</button>
                </div>
            </div>
        </div>
    </div>
    <table id="tbtablep" lay-filter="table-menup" data-url="@Url.Action("QueryMenuPermissions", "SysMenu", new {areas = "SystemManage"})" data-delurl="@Url.Action("DelPermissions", "SysMenu", new {areas = "SystemManage"})"></table>
</div>

@*编辑权限*@
<div id="editp" title="编辑菜单权限" style="display:none" data-url="@Url.Action("SaveMenuPermissions", "SysMenu", new {areas = "SystemManage"})">
    <div class="layui-form" style="padding:20px;">
        <input id="txtpid" type="hidden" value="0"/>
        <div class="layui-form-item">
            <label class="layui-form-label">权限名称：</label>
            <div class="layui-input-block">
                <input id="txtnamep" type="text" required lay-verify="required" placeholder="权限名称" style="width:400px;" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作：</label>
            <div class="layui-input-block">
                <input id="txtaction" type="text" placeholder="操作路径" style="width: 400px;" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">代码：</label>
            <div class="layui-input-block">
                <input id="txtcode" type="text" placeholder="代码" style="width: 350px;" autocomplete="off" class="layui-input">
                <a id="refreshcode" href="javascript:;" data-url="@Url.Action("GetPermissionsCode", "SysMenu", new {areas = "SystemManage"})" style="top: 10px;position: absolute;margin-right: 0px;right: 60px;">刷新</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea id="txtremarkp" placeholder="请输入内容" class="layui-textarea" style="width: 400px; height: 30px; resize: none"></textarea>
            </div>
        </div>
    </div>
</div>

@section foot_section{
    <script src="~/Areas/SystemManage/Content/js/sysmenu.js?v=3"></script>
}
