@using Mayiboy.Model.Model

@{
    ViewBag.Title = "菜单管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";

    var sysnavbar = ViewBag.SystemNavbar as List<SystemNavbarModel>;
}
@section head_section{
    <link href="~/Content/lib/jqueryeasyui/themes/gray/easyui.css" rel="stylesheet" />
    <link href="~/Content/lib/jqueryeasyui/themes/icon.css" rel="stylesheet" />
    <script src="~/Content/lib/jqueryeasyui/jquery.easyui.min.js"></script>
}

@*面包屑*@
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
        <a lay-href="">主页</a><span lay-separator="">/</span>
        <a><cite>组件</cite></a><span lay-separator="">/</span>
        <a><cite>数据表格</cite></a><span lay-separator="">/</span>
        <a><cite>数据表格的重载</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    系统菜单
                </div>
                <div class="layui-card-body" style="margin: 0px; padding: 0px;">
                    <div class="layui-card" style="margin: 0px;">
                        <div class="layui-card-body" style="padding: 0px;">
                            <div class="layui-btn-container" style="float: left; padding: 5px;">
                                <div class="layui-btn-group">
                                    <label class="mayiboy-lable">系统栏目:</label>
                                    <select id="sysnavbar" class="mayiboy-input" style="width: 100px;">
                                        @foreach (var item in sysnavbar)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                @*<div class="layui-btn-group">
                                        <button id="btnquery" class="layui-btn">查询</button>
                                    </div>*@
                            </div>

                            <div class="layui-btn-container" style="padding: 5px; float: right;">
                                <div class="layui-btn-group">
                                    <button id="btnadd" class="layui-btn">新增</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="treetable" style="height: 600px; width: auto;" lay-filter="table-operate" data-url="@Url.Action("Query", "SysMenu", new {areas = "SystemManage"})" data-delurl="@Url.Action("Del", "SysMenu", new {areas = "SystemManage"})"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editsysmenu" title="新增系统菜单" style="display: none;" data-url="@Url.Action("Save", "SysMenu", new {areas = "SystemManage"})">
    <form class="layui-form" style="padding: 20px;" data-url="@Url.Action("Save", "SysMenu", new {areas = "SystemManage"})">
        <input id="txtid" type="hidden" value="0" />
        <div class="layui-form-item">
            <label class="layui-form-label">父级菜单：</label>
            <div class="layui-input-block" style="width: 200px;">
                <input id="selectsysmenu" class="easyui-combotree" data-options="" style="width:300px;height:30px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单名称：</label>
            <div class="layui-input-block">
                <input id="txtname" type="text" required lay-verify="required" placeholder="菜单名称" style="width: 300px;" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单地址：</label>
            <div class="layui-input-block">
                <input id="txturl" type="text" placeholder="菜单地址" style="width: 300px;" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单类型：</label>
            <div class="layui-input-block" style="width:100px">
                <select id="selectmenutype" class="mayiboy-input" style="width: 60px;">
                    <option value="0">内部</option>
                    <option value="1">外部</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序：</label>
            <div class="layui-input-block">
                <input id="txtsort" type="number" name="title" value="0" style="width: 100px;" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea id="txtremark" placeholder="请输入内容" class="layui-textarea" style="width: 300px; height: 30px; resize: none"></textarea>
            </div>
        </div>
    </form>
</div>

@section foot_section{
    <script type="text/javascript">
        $(function() {
            var editsysmenunum;
            var sysmenudata;
            var selelctdefault = 0;
            var form;
            var thisPage = {
                Init: function() {
                    thisPage.InitSysMenu();
                    $("#sysnavbar").change(function() {
                        thisPage.InitSysMenu();
                    });

                    $("#btnadd").click(function () {
                        var row = $("#treetable").treegrid("getSelected");
                        if (row != null) {
                             selelctdefault = row.Id;
                        }
                        thisPage.ShowEditPage();
                    });

                    //Layui坑
                    layui.use(["table","form"], function() {
                         form = layui.form;
                    });
                },
                InitSysMenu: function() {
                    $("#treetable").treegrid({
                        url: $("#treetable").data("url"),
                        method: "get",
                        queryParams: {
                            id: $("#sysnavbar").val()
                        },
                        rownumbers: true, //如果为true，则显示一个行号列。
                        idField: 'Id', //定义标识树节点的键名字段
                        treeField: 'Name', //定义树节点的字段
                        //lines:true,
                        //fitColumns: true, //设置为 true，则会自动扩大或缩小列的尺寸以适应网格的宽度并且防止水平滚动。
                        columns: [
                            [
                                { field: 'Name', title: '菜单名称', width: 180 },
                                { field: 'UrlAddress', title: '地址', width: 300 },
                                { field: 'Sort', title: '排序', width: 40, align: 'center' },
                                {
                                    field: 'CreateTime',
                                    title: "创建时间",
                                    width: 120,
                                    formatter: function(v, r) {
                                        return $.Extend_formatDateTime(v);;
                                    }
                                },
                                {
                                    field: 'UpdateTime',
                                    title: "修改时间",
                                    width: 120,
                                    formatter: function(v, r) {
                                        return $.Extend_formatDateTime(v);;
                                    }
                                },
                                { field: 'Remark', title: '备注' },
                                {
                                    field: 'openid',
                                    title: '操作',
                                    width: 200,
                                    align: 'center',
                                    formatter: function(v, r) {
                                        var html = "";

                                        html += '<a href="javascript:;" data-id="' + r.Id + '" class="layui-btn layui-btn-xs editmenu">编辑菜单</a>';
                                        html += '<a href="javascript:;" data-id="' + r.Id + '" class="layui-btn layui-btn-xs layui-btn-normal editp">设置权限</a>';
                                        html += '<a href="javascript:;" data-id="' + r.Id + '" class="layui-btn layui-btn-danger layui-btn-xs delmenu" lay-event="del">删除</a>';
                                        return html;
                                    }

                                }
                            ]
                        ],
                        onLoadSuccess: function(v, data) {
                            sysmenudata = data.rows;

                            $(".editmenu").click(function() {
                                var row = thisPage.GetSysMenuById($(this).data("id"));
                                thisPage.ShowEditPage(row);
                            });

                            $(".editp").click(function() {
                                console.log("设置权限");
                            });

                            $(".delmenu").click(function () {
                                var id = $(this).data("id");
                                layer.confirm('真的删除行吗？', function (index) {
                                    thisPage.DelSysMenu(id, index);
                                });
                            });
                        }
                    });
                },
                InitSelectSysMenu: function() {
                    $.ajax({
                        url: $("#treetable").data("url"),
                        data: { id: $("#sysnavbar").val() },
                        success: function(res) {
                            if (res.status == 0) {

                                res.rows.push({ Id: 0, Pid: -1, Name: "根基菜单" });

                                var treelist = thisPage.ConvertListToTree(res.rows, -1);

                                $("#selectsysmenu").combotree('loadData', treelist);

                            } else {
                                console.log(res.msg);
                            }
                        }
                    });
                },
                ConvertListToTree: function(list, parentId) {

                    var itemArr = [];

                    for (var i = 0; i < list.length; i++) {
                        var node = list[i];
                        if (node.Pid == parentId) {
                            var newNode = {
                                id: node.Id,
                                text: node.Name,
                                parentId: node.Pid,
                                children: thisPage.ConvertListToTree(list, node.Id)
                            };
                            itemArr.push(newNode);
                        }
                    }
                    return itemArr;
                },
                GetSysMenuById: function(id) {
                    for (var item in sysmenudata) {
                        if (sysmenudata[item].Id == id) {
                            return sysmenudata[item];
                        }
                    }
                    return null;
                },
                ShowEditPage: function(data) {
                    var title = "";
                    thisPage.InitSelectSysMenu();

                    if (data == null) {
                        title = "新增系统菜单";
                        $("#txtid").val("0");
                        $('#selectsysmenu').combotree('setValue', selelctdefault);
                        $("#txtname").val("");
                        $("#txturl").val("");
                        $("#selectmenutype").val("0");
                        $("#txtsort").val("0");
                        $("#txtremark").val("");
                    } else {
                        title = "修改系统菜单";
                        $("#txtid").val(data.Id);
                        $('#selectsysmenu').combotree('setValue', data.Pid);
                        $("#txtname").val(data.Name);
                        $("#txturl").val(data.UrlAddress);
                        $("#selectmenutype").val(data.MenuType);
                        $("#txtsort").val(data.Sort);
                        $("#txtremark").val(data.Remark);
                    }

                    form.render('select');

                    editsysmenunum = layer.open({
                        title: title,
                        resize: false,
                        type: 1,
                        area: ['500px', '520px'],
                        offset: '20px',
                        content: $('#editsysmenu'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                        btn: ["保存", "取消"],
                        btn1: function() {
                            thisPage.SaveSysMenu();
                        },
                        btn2: function() {
                            // alert("取消");
                        },
                        cancel: function() {
                            // alert("退出");
                        }
                    });

                },
                SaveSysMenu: function() {

                    //验证表单
                    var isb = layer.IsValidation("#editsysmenu");
                    if (isb == null) {
                        $.ajax({
                            type: "post",
                            url: $("#editsysmenu").data("url"),
                            data: {
                                Id: $("#txtid").val(),
                                Pid: $('#selectsysmenu').combotree('getValue'),
                                Name: $("#txtname").val(),
                                UrlAddress: $("#txturl").val(),
                                NavbarId: $("#sysnavbar").val(),
                                MenuType: $("#selectmenutype").val(),
                                Sort: $("#txtsort").val(),
                                Remark: $("#txtremark").val()
                            },
                            success: function(res) {
                                if (res.status == 0) {
                                    layer.msg("保存成功");
                                    layer.close(editsysmenunum);
                                    thisPage.InitSysMenu();

                                } else {
                                    layer.msg(res.msg);
                                }
                            }
                        });
                    }
                },
                DelSysMenu: function(id,index) {
                    $.ajax({
                        type: "get",
                        url: $("#treetable").data("delurl"),
                        data: { id: id },
                        success: function(res) {
                            if (res.status == 0) {
                                layer.close(index);
                                $("#treetable").treegrid('remove', id); //移除当前行
                                //thisPage.InitSysMenu();
                            } else {
                                layer.alert(res.msg);
                            }

                        }
                    });
                }
            }

            thisPage.Init();
        })
    </script>
}
