@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var sysnavbar = ViewBag.SystemNavbar as List<SystemNavbarModel>;
}
@section head_section{
    <link href="~/Content/lib/jqueryeasyui/themes/gray/easyui.css" rel="stylesheet" />
    <link href="~/Content/lib/jqueryeasyui/themes/icon.css" rel="stylesheet" />
    <script src="~/Content/lib/jqueryeasyui/jquery.easyui.min.js"></script>
    <script src="~/Content/lib/jqueryeasyui/plugins/jquery.treegrid.js"></script>
    <script src="~/Content/lib/jqueryeasyui/plugins/jquery.tree.js"></script>
}
@*面包屑*@
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
        <a lay-href="">主页</a><span lay-separator="">/</span>
        <a><cite>组件</cite></a><span lay-separator="">/</span>
        <a><cite>数据表格</cite></a><span lay-separator="">/</span>
        <a><cite>数据表格的重载</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    用户角色管理
                </div>
                <div class="layui-card-body" style="margin: 0px; padding: 0px;">
                    <div class="layui-card" style="margin: 0px;">
                        <div class="layui-card-body" style="padding: 0px;">
                            <div class="layui-btn-container" style="float: left; padding: 5px;">
                                <div class="layui-btn-group">
                                    <label class="mayiboy-lable">角色名:</label>
                                    <input id="name" class="mayiboy-input" placeholder="角色名" />
                                </div>

                                <div class="layui-btn-group">
                                    <button id="btnquery" class="layui-btn">查询</button>
                                </div>
                            </div>

                            <div class="layui-btn-container" style="padding: 5px; float: right;">
                                <div class="layui-btn-group">
                                    <button id="btnadd" class="layui-btn">新增</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="dttable" lay-filter="table-operate" data-url="@Url.Action("Query", "UserRole", new {areas = "SystemManage"})" data-delurl="@Url.Action("Del", "UserRole", new {areas = "SystemManage"})"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@*编辑用户角色*@
<div id="edituserrole" title="用户角色编辑" style="display: none;" data-url="@Url.Action("Save", "UserRole", new {areas = "SystemManage"})">
    <div class="layui-form" style="padding: 20px;">
        <input id="txtid" type="hidden" value="0" />
        <div class="layui-form-item">
            <label class="layui-form-label">角色名：</label>
            <div class="layui-input-block">
                <input id="txtname" type="text" required lay-verify="required" placeholder="角色名" style="width: 300px;" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea id="txtremark" placeholder="请输入内容" class="layui-textarea" style="width: 300px; height: 30px; resize: none"></textarea>
            </div>
        </div>
    </div>
</div>

@*配置角色权限*@
<div id="setrolep" title="配置角色权限" style="display:none" data-url="@Url.Action("SaveRolePermissions", "UserRole", new {areas = "SystemManage"})">
    <div class="layui-card" style="margin: 0px;">
        <div class="layui-card-body" style="padding: 0px;">
            <div class="layui-btn-container" style="padding: 5px; float: left;">
                <div class="layui-btn-group">
                    <label class="mayiboy-lable">系统栏目:</label>
                    <select id="sysnavbar" class="mayiboy-input" style="width: 100px;">
                        @foreach (var item in sysnavbar)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 380px; float: left;">
        <table id="treetable" style="height: 350px; width: 380px;" data-url="@Url.Action("QuerySystemPermissions", "SysMenu", new {areas = "SystemManage"})"></table>
    </div>
    <div style="float: right; width: 320px;height: 350px;">
        <table id="tableaction" data-url="@Url.Action("QueryRolePermissions", "UserRole", new {areas = "SystemManage"})"></table>
    </div>
</div>

@section foot_section{
    <script src="~/Areas/SystemManage/Content/js/userole.js?v=2"></script>
}